@import "../../css/reset.less";

#root{
  background: #ddd;
  width:320px;
  height: 500px;
  margin:50px auto;
  border: solid 1px #999;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  @media screen and(max-width: 600px){
    width: 100%;
    margin: 0;
    height: 100vh;
    border: none;
  }
  >div{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .title{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    padding: 0 30px;
    background: #00a8c6;
    border-bottom: solid 1px #ddd;
    color: #fff;
  }
  .add{
    margin-top: 7px;
    display: flex;
    input{
      height: 30px;
      line-height: 30px;
      flex:1;
      background-color: #ECE8E8;
      border-radius: 3px;
      padding : 0 0 0 10px;
      font-size: 16px;
    }
    button{
      width:74px;
      height: 32px;
      margin-left: 2px;
      color: #fff;
      background-color: #03a9f4;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      font-size: 14px;
      text-align: center;
    }
  }
  .list{
    flex:1;
    overflow: scroll;
    li{
      height: 50px;
      line-height: 50px;
      width: 100%;
      background-color: hsla(0,0%,100%,.5);
      border-radius: 3px;
      font-size: 16px;
      margin-bottom: 7px;
      input{
        width:15px;
        height: 15px;
        margin: 0 10px;
      }
      &:last-child{
       margin-bottom: 0;
      }
      &:first-child{
        margin-top: 7px;
      }
    }

  }
  .class{
    display: flex;
    li{
      background: #ECE8E8;
      flex:1;
      height: 30px;
      margin:0 3px 0 0;
      line-height: 30px;
      text-align: center;
      color: #000;
      &:last-child{
        border: none;
        margin:0;
      }
      a{
        color: #000;
        &:hover{
          color: #00a8c6;
        }
      }
    }
  }
}